@model StudioLab.Models.ViewModels.UsuariosViewModel
@{
    ViewBag.Title = "Listado";
}

<h2>Listado de usuarios</h2>

<div class="table-responsive">
    
    @Html.Partial("PaginacionUsuarios",Model)

</div>



<div id="page-selection" class="text-center"></div>

@section scripts {

        <!-- Script para la paginacion (bootpag) -->

        <script>
            // init bootpag
            $('#page-selection').bootpag({
                total: 5
            }).on("page", function (event, /* page number here */ num) {
                //$("#content").html("Insert content"); // some ajax content loading...
            });
        </script>

}