
@{
    ViewBag.Title = "Crud";
}

<h2>Crud</h2>


<h2>Control de usuario para listar los usuarios de la BD</h2>

@Html.ActionLink("Listado de Usuarios", "Listado", "Usuarios")

@Html.ActionLink("Alta de Usuarios", "Alta", "Usuarios")