
@{
    ViewBag.Title = "Jqueryui";
}

<h2>Jquery UI</h2>


<!--Datepicker creado con JQuery UI-->
<h4>Control de usuario DatePicker</h4>
<label for="Calendario">Seleccione Fecha:</label>
<input type="text" id="Calendario">



@section scripts
{
<script>

    //Contro de Usuario DatePicker

    $(document).ready(function(){

        $('#Calendario').datepicker();
        $('#Calendario').datepicker("option","showAnim","clip");
        $('#Calendario').datepicker("option", "dateFormat", "dd-MM-yy");
    });

</script>

}
