
@{
    ViewBag.Title = "Jqueryui";
}

<h2>Jquery UI</h2>


<!--Datepicker creado con JQuery UI-->
<h4>Control de usuario DatePicker</h4>
<label for="Calendario">Seleccione Fecha:</label>
<input type="text" id="Calendario">

<br />
<br />

<!-- Draggable con JQuery UI-->
<div id="mover" class="ui-widget-content">
    <p>Podemos mover haciendo drag</p>
</div>

<div id="mover2" class="ui-widget-content">
    <p>Podemos mover haciendo drag</p>
</div>

<div id="soltar">
    <p>Soltar aquí.</p>
</div>

@section scripts
{
<script>

    //Contro de Usuario DatePicker

    $(document).ready(function(){


        //DatePicker JQuery UI
        $('#Calendario').datepicker();
        $('#Calendario').datepicker("option","showAnim","clip");
        $('#Calendario').datepicker("option", "dateFormat", "dd-MM-yy");

        //Draggable
        $('#mover').draggable({

                axis: "y", //Solo se moverá en el eje Y
                cursor: "move", //crosshair
                revert: true,
                start: function ()
                {
                    $('#mover').text('Al iniciar');
                },
                drag: function () {
                    $('#mover').text('Al mover');
                },
                stop: function () {
                    $('#mover').text('Al finalizar');
                }

        });

        $('#mover2').draggable();

        //Droppable
        $('#soltar').droppable({


            hoverClass: "hover",
            accept: "#mover",
            drop: function (event, ui) {

                $(this).addClass('soltado').find("p").text('Elemento soltado');

            }

        });

    });

</script>

}
