
@{
    ViewBag.Title = "Jqueryui";
}

<h2>Jquery UI</h2>


<!--Datepicker creado con JQuery UI-->
<h4>Control de usuario DatePicker</h4>
<label for="Calendario">Seleccione Fecha:</label>
<input type="text" id="Calendario">

<br />
<br />

<!-- Draggable con JQuery UI-->
<div id="mover" class="ui-widget-content">
    <p>Podemos mover haciendo drag</p>
</div>

<div id="mover2" class="ui-widget-content">
    <p>Podemos mover haciendo drag</p>
</div>

<div id="soltar">
    <p>Soltar aquí.</p>
</div>

<br />
<br />

<div id="contenedor">
    <div id="resizable" class="ui-widget-content">
        <p>Cambiar tamaños.</p>
    </div>
</div>

<br />
<br />

<ol id="seleccionar">

    <li class="ui-widget-content">Item 1</li>
    <li class="ui-widget-content">Item 2</li>
    <li class="ui-widget-content">Item 3</li>
    <li class="ui-widget-content">Item 4</li>
    <li class="ui-widget-content">Item 5</li>
    <li class="ui-widget-content">Item 6</li>
    <li class="ui-widget-content">Item 7</li>

</ol>

<div id="resultado"></div>

<br />
<br />


<div id="acordeon">

    <h3>Sección 1</h3>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia quam, at aliquet nisi. 
        Morbi at urna eleifend, finibus turpis sit amet, scelerisque felis. 
        Integer lacinia, metus et vestibulum ornare, enim nulla mattis justo, et congue nulla neque id ante. </p>
    </div>
    <h3>Sección 2</h3>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia quam, at aliquet nisi.
            Morbi at urna eleifend, finibus turpis sit amet, scelerisque felis.
            Integer lacinia, metus et vestibulum ornare, enim nulla mattis justo, et congue nulla neque id ante. </p>
    </div>
    <h3>Sección 3</h3>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia quam, at aliquet nisi.
            Morbi at urna eleifend, finibus turpis sit amet, scelerisque felis.
            Integer lacinia, metus et vestibulum ornare, enim nulla mattis justo, et congue nulla neque id ante. </p>
    </div>

</div>

<br />
<br />

<!-- Autocomplete con JQuery-ui -->

<label for="color">Color</label>
<input type="text" id="color" />


<br />
<br />

<!-- Autocomplete con JQuery-ui y AJAX -->

<label for="color2">Color</label>
<input type="text" id="color2" />


@section scripts
{
<script>

    //Contro de Usuario DatePicker

    $(document).ready(function(){


        //DatePicker JQuery UI
        $('#Calendario').datepicker();
        $('#Calendario').datepicker("option","showAnim","clip");
        $('#Calendario').datepicker("option", "dateFormat", "dd-MM-yy");

        //Draggable
        $('#mover').draggable({

                axis: "y", //Solo se moverá en el eje Y
                cursor: "move", //crosshair
                revert: true,
                start: function ()
                {
                    $('#mover').text('Al iniciar');
                },
                drag: function () {
                    $('#mover').text('Al mover');
                },
                stop: function () {
                    $('#mover').text('Al finalizar');
                }

        });

        $('#mover2').draggable();

        //Droppable
        $('#soltar').droppable({


            hoverClass: "hover",
            accept: "#mover",
            drop: function (event, ui) {

                $(this).addClass('soltado').find("p").text('Elemento soltado');

            }

        });

        //Resizable
        $('#resizable').resizable({

            animate: true,
            containment: '#contenedor'

        });


        //Selectable
        $('#seleccionar').selectable({

            stop: function(){

                var resultado = $('#resultado').empty();
                $('.ui-selected', this).each(function() {
                    /*Iterate through array or object */

                    var index = $('#seleccionar li').index(this);
                    resultado.append(' Seleccionó '+(index));

                });
            }


        });

        var iconos = {
            header: "ui-icon-circle-arrow-e",
            activeHeader: "ui-icon-circle-arrow-s"

        }

        //Accordion
        $('#acordeon').accordion({

            icons: iconos

        });
        

        var colores = [
            "rojo",
            "amarillo",
            "verde",
            "naranja",
            "violeta",
            "blanco",
            "negro",
            "rosa",
            "morado",
            "gris",
            "marron",
            "azul" 
        ];

        //AutoComplete
        $('#color').autocomplete({

            source: colores

        });


        //AutoComplete con llamada AJAX a la BD
        //$('#color2').autocomplete({

        //    source: 

        //});


    });

</script>

}
